.help {
  &__container {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
    border-radius: 12px;
    margin-top: 2rem;

    &-contact {
      background: var(--gradientText);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: x-large;
      font-weight: bold;
    }
  }
}
