.filter {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &__container {
    background-color: white;
    border-radius: 8px;
    width: 30%;
    max-width: 250px;
    padding: 1rem;
    margin: 1rem 0 0;

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--blue);
      position: relative;

      .close__icon {
        position: absolute;
        right: 0;
        width: 20px;
      }
    }

    &-active {
      width: auto;
      box-shadow: var(--boxShadowItems);
    }
  }

  img {
    margin-left: 8px;
    width: 15px;
    transform: rotate(180deg);
  }
}

@media (min-width: 744px) {
  .filter {
    &__container {
      position: absolute;
    }
  }
}
