.container__table {
  overflow-x: overlay;
  border-radius: 12px;
}

.table {
  width: 100%;
  border-spacing: initial;
  border-color: transparent;

  &__header {
    background-color: white;

    &-title {
      background: var(--gradient);
      color: white;
      padding: 8px 1rem;
      font-size: large;
    }

    &-columns {
      td {
        min-width: 170px;
        padding: 8px 4px;
        font-size: small;
        border-bottom: 1px solid var(--lightGrayOp);
      }
    }
  }

  &__body {
    background-color: white;

    &-columns {
      td {
        min-width: 170px;
        padding: 1rem;
        font-size: small;

        &:first-child {
          text-align: initial;
          display: flex;
          align-items: center;

          img {
            margin-right: 6px;
          }
        }
      }

      &:nth-child(odd) {
        td:first-child {
          border-left: 5px solid var(--blue);
        }
      }

      &:nth-child(even) {
        td:first-child {
          border-left: 5px solid var(--lightGray);
        }
      }

      .td__blue {
        color: var(--blue);
        font-weight: 600;
      }

      td.td__gray {
        color: var(--lightGray);
      }

      &-details {
        display: flex;
        align-items: center;

        img {
          width: 30px;
          margin-right: 8px;
        }
      }
    }
  }
}
