.button {
  background-color: var(--red);
  border: none;
  border-radius: 24px;
  padding: 12px 1rem;
  color: white;
  font-weight: 600;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: Montserrat, sans-serif;
  cursor: pointer;

  &:disabled {
    background-color: var(--redDisable);
    cursor: initial;
  }
}
