.filter__tabs {
  &-container {
    background-color: white;
    border-radius: 12px;

    &-title {
      background: var(--gradientText);
      color: white;
      font-size: small;
      font-weight: 500;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 17px;
      }
    }

    &-total {
      padding: 1rem 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__amount {
        background: var(--gradientText);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
        font-weight: 600;
      }

      &__date {
        color: var(--blue);
        font-size: small;
      }
    }
  }

  &-options {
    margin: 1rem 0;
    width: 100%;

    &__tab {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 4px 8px;
      cursor: pointer;

      span {
        display: inline-block;
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
        color: var(--blue);
        padding: 6px 0;
        margin: 0 4px;
        font-weight: 500;
      }
      span.active {
        background-color: var(--lightGrayOp);
        border-radius: 32px;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 744px) {
  .filter__tabs {
    display: flex;
    margin: 0 0 1rem;

    &-container {
      width: 60%;
    }
    &-options {
      margin: 0 1rem;
    }
  }
}

@media (min-width: 992px) {
  .filter__tabs {
    &-container {
      width: 50%;
    }
  }
}
