.header {
  background: var(--gradient);
  height: 60px;
  padding: 8px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  .bold_logo {
    width: 70px;
  }

  &_options {
    display: flex;
    align-items: center;

    p {
      margin: 0 12px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .help__icon {
        margin-left: 6px;
        width: 18px;
      }
    }
  }
}
