@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

:root {
  --blue: #111e6c;
  --red: #ef434e;
  --redDisable: rgb(239 67 78 / 50%);
  --darkGray: #323232;
  --lightGray: #969696;
  --lightGrayOp: rgb(150 150 150 / 30%);
  --bgColor: #e5e7ef;
  --gradient: linear-gradient(to right, #121e6c 0%, #ef434e 180%);
  --boxShadowCards: 0 0 32px rgba(0 0 0/ 8%);
  --boxShadowItems: 0 2px 2px rgba(0 9 39/ 8%);
  --gradientText: linear-gradient(270deg, #eb636e -20%, #121e6c 150%);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  font-family: Montserrat, sans-serif;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}
