.checkbox__container {
  display: flex;
  align-items: center;
  margin: 8px 0;

  input[type="checkbox"] {
    margin: 0;
    margin-right: 8px;
    padding: 7px;
    border: 1px solid var(--lightGray);
    border-radius: 4px;
    appearance: none;
    cursor: pointer;

    &:checked {
      background-color: var(--blue);
      border: 1px solid var(--blue);
    }
  }
}
